<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="/static/stark/plugins/bootstrap-3.3.7-dist/css/bootstrap.css" />
    <style>
        .comb-search .item{
            margin: 5px 0;
        }
        .comb-search .item a{
            border: 1px solid #dddddd;
            display: inline-block;
            padding: 3px 8px;
        }
        .comb-search .item a.active{
            background-color: #337ab7;
            color: white;
        }
    </style>
    {% block css %} {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    {% block js %} {% endblock %}
</body>
</html>